<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a flower</title>
  </head>
  <body>
    <h1>Add a new flower!</h1>
    <form action="/flowers" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

      <label for="scientificName">Scientific name:</label>
      <input type="text" name="scientificName" id="scientificName" />

      <label for="colors">Colours:</label>
      <input type="text" name="colors" id="colors" />
      <label for="season">Season:</label>
      <input type="text" name="season" id="season" />

      <label for="symbolism">Symbolism:</label>
      <input type="text" name="symbolism" id="symbolism" />

      <button type="submit">Add Flower</button>
    </form>
  </body>
</html>
