<nav>
  <a class="nav-bar-link" href="/">Home</a>
  <a class="nav-bar-link" href="/flowers">All Flowers</a>
  <a class="nav-bar-link" href="/flowers/new">Add a New Flower</a>
  <a class="nav-bar-link" href="/user/new">Sign Up</a>
  <a class="nav-bar-link" href="/user/login">Log In</a>
</nav>
